<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS */
        body {
            background-color: #fafafa;
        }

        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 250px;
            background-color: #286bad;
            padding-top: 60px;
            color: white;
        }

        .sidebar a {
            padding: 10px 15px;
            display: block;
            color: #fff;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .sidebar a:hover {
            background-color: #495057;
        }

        .content {
            margin-left: 250px;
            padding: 20px;
        }

        .nav-link:hover {
            color: white !important;
        }

        .login:hover {
            background-color: #30f925 !important;
        }
    </style>
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar ">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produk">Produk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../users">logout</a>
                </li>
            </ul>
            
        </div>
    </div>

    <!-- Page Content -->
    <div class="content">
       
        <div class="container">
            <% if (messages.success) { %>
            <div class="alert alert-info" role="alert">
                <%= messages.success %>
            </div>
            <% } %>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <form action="/produk/store" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="foto_produk" class="form-label">Foto produk</label>
                                <input type="file" name="foto_produk" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="nama_produk" class="form-label">Nama produk</label>
                                <input type="text" name="nama_produk" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="harga_produk" class="form-label">Harga produk</label>
                                <input type="text" name="harga_produk" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="id_kategori" class="form-label">Kategori</label>
                                <select name="id_kategori" class="form-control">
                                    <% for(var i = 0; i < data.length; i++) { %>
                                    <option value="<%= data[i].id_kategori %>"><%= data[i].nama_kategori %></option>
                                    <% } %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>